# Server
HTTP_ADDR=:8080

# Database
{{- if eq .Database "postgres" }}
DATABASE_DSN=postgres://postgres:pass@localhost:5432/app?sslmode=disable
{{- else if eq .Database "mysql" }}
DATABASE_DSN=user:pass@tcp(localhost:3306)/db?parseTime=true
{{- else if eq .Database "sqlite" }}
DATABASE_DSN=file:app.db?cache=shared&_fk=1
{{- else }}
DATABASE_DSN=
{{- end }}
